data*
test*
scrap*
*.Rproj*
**/output/*.csv
**/output/*.xlsx
climate/headstart_facility_risk/SCRAP.R
ana/disbursement_model/output/approved_funding_2020-2023.jpg
.Rproj.user
.Rhistory
.RData
full_enrollment_initiative.Rproj
